{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-7 col-md-6 my-auto"> <!-- linked to main image -->
                <h1 class="display-4 logo-font text-black">
                    Book Your Stay
                </h1> <!-- change text to desired style -->
                <div class="my-5">
                    <h4> 
                        <a href="{% url 'rooms' %}?category=self_catering,double_room,twin_room" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Book Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>


{% endblock %}