html {
    height: 100%;
}
/* Change image below to be pub delete this note when complete */
body {
    background: url('/media/horseshoe_inn.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: 'Libre Baskerville', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

#logo {
     width: 15%;
    padding: 4px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #2d541c;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #8fb180;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #8fb180;
    color: white;
}


.text-black {
    color: #b2b2ab !important;
}

.border-black {
    border: 1px solid #b6d7a8 !important;
}

.bg-black {
    background: #2d541c !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

#page_title {
    color:#b2b2ab !important;
}

/* -------------------------------- product badges */

a.category-badge > span.badge:hover {
    background: #b6d7a8 !important;
    color: #b2b2ab !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padded the top when navbar is collapsed on mobile */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* -------------------------------- products cards */

.card-footer, .card-body {
    background: #2d541c !important;
    padding: 4px;
}

.card-body {
    margin-top: 5px;
}

/* This pads out the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* -------------------------------- Ratings */

small.text-muted {
    color: gold !important;
}

/* -------------------------------- Product Details */

.product-details-container {
    background: #2d541c;
    padding: 4px;
}

/* -------------------------------- Product Details in room_details */

 #canvas {
    background: #fff;
    color: #6c757d;
    padding: 4px;
}

/* -------------------------------- + and - buttons */

.increment-qty {
    background-color: #2d541c;
}

.decrement-qty {
    background-color: #2d541c;
}

/* -------------------------------- Date Pickers */

input.datepicker-checkin {
    color: #6c757d;
}

input.datepicker-checkout {
    color: #6c757d;
}

/* -------------------------------- Booking Button */

input.btn.btn-success {
    background-color: #2d541c;
    margin-top: 10px;
}

input.btn.btn-success:hover {
    background-color: #b6d7a8;
}

/* ------------------------ Contact Form */

#fullname {
    margin-top: 5px;
    margin-bottom: 10px;
}

#emailaddress {
    margin-top: 5px;
    margin-bottom: 10px;
}

#message {
    margin-top: 5px;
    margin-bottom: 10px;
}

#submit_email {
    background-color: #2d541c;
    color:#fff;
}

#contact_phone,
#contact_mobile {
    color: #2d541c;
}

/* ------------------------ Social Media and Contact Links */

h1.display-4 {
    margin: 50px;
}

.fa-facebook:before {
    color:#fff;
    font-size: 30px;
    padding: 5px;
}

.fa-tripadvisor:before {
    color: #fff;
    font-size: 30px;
    padding: 5px;
}

.fa-phone-alt:before {
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

/* -------------------------------- Footer */

footer.page-footer {
    position: absolute;
    bottom: 0;
    width:100%;
    left:0;
    background-color: #8fb180;
}

