html {
    height: 100%;
}
/* Change image below to be pub delete this note when complete */
body {
    background: url('/media/horseshoe_inn.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: 'Libre Baskerville', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #b6d7a8;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #b6d7a8;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #b2b2ab !important;
}

.border-black {
    border: 1px solid #b6d7a8 !important;
}

.bg-black {
    background: #b6d7a8 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* -------------------------------- Footer */

footer.page-footer {
    background-color: #b6d7a8;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky
}

/* ------------------------ Booking Header */

h1.display-4 {
    margin: 50px;
}

.fa-facebook:before {
    color:#fff;
    font-size: 30px;
    padding: 5px;
}

.fa-tripadvisor:before {
    color: #fff;
    font-size: 30px;
    padding: 5px;
}