<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Services</a> <!-- Potental to change product to match page -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menu-link">
                <a href="{% url 'menu' %}?category=ala_carte_menu,starter,mains,dessert" class="dropdown-item">All Menu Items</a>
                <a href="{% url 'menu' %}?category=ala_carte_menu" class="dropdown-item">Ala Carte Menu</a>
                <a href="{% url 'menu' %}?category=starter" class="dropdown-item">Starters</a>
                <a href="{% url 'menu' %}?category=mains" class="dropdown-item">Mains</a>
                <a href="{% url 'menu' %}?category=desserts" class="dropdown-item">Desserts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accomadation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accommodation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accomadation-link"> 
                <a href="{% url 'rooms' %}?category=double_room" class="dropdown-item">Double </a>
                <a href="{% url 'rooms' %}?category=twin_room" class="dropdown-item">Twin</a>
                <a href="{% url 'rooms' %}?category=self_catering" class="dropdown-item">Self Catering</a>
                <a href="{% url 'rooms' %}?category=self_catering,double_room,twin_room" class="dropdown-item">All Rooms</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact us</a>
                <a href="{% url 'special_offers' %}" class="dropdown-item">Special Offers</a>
                <a href="{% url 'events' %}" class="dropdown-item">Events</a>
                <a href="{% url 'information' %}" class="dropdown-item">Public information</a>
            </div>
        </li>
    </ul>
</div>