{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/media/favicon/icon.png">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
        <script src="https://kit.fontawesome.com/95517273fa.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Horseshoe Inn {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg- text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>The Horseshoe Inn</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"><img src="/media/horseshoe_inn_web_logo.png" id="logo" alt="horseshoe_inn_logo">
                <!--  <form method="GET" action="{% url 'products' %}"> NOTE: URL HERE IF SEARCH TO BE ADDED BACK IN LATER
                    <div class="input-group w-100">
                        <input class="form-control border border_black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-ground-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>  -->
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                 <a href="{% url 'add_room' %}" class="dropdown-item">Room Management</a>
                            {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_book' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free dessert with you meal on a Wednesday!</h4>                
            </div>            
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

<!-- Restore footer before launch -->
<!-- <footer class="page-footer font-small blue pt-4 ">
  <div class="container-fluid text-center text-md-center">
    <div class="row">
        <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase text-center">About</h5>
        <p class="text-center">Paul & Toni welcome you to.</p>
        <p>
            <a href="https://www.facebook.com/horseshoeinnscotland" target="_blank"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-tripadvisor"></i></a>
        </p>
        <p>
            <a><i class="fas fa-mobile-alt"> (+44) 7903021901 </i></a>
            <a><i class="fas fa-phone"> 01546 606369 </i></a>
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase text-center">Opening Times</h5>
        <p>
            Monday to Thursday 5pm until 10pm
        </p>
        <p>
            Friday to Saturday 12 noon to 10pm
        </p>
        <p>
            Sunday 12 noon to 9:30pm
        </p>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase text-center">Food Service Time</h5>
        <p>Monday to Thursday 6pm to 9pm</p>
        <p>Friday to Saturday 12 noon to 3pm then 6pm to 9pm</p>
        <p>Sunday 12 Noon to 4pm</p>
      </div>
    </div>
  </div> 
  <div class="footer-copyright bg-black text-white text-center py-3">
    © The Horseshoe Inn, Bridgend, Kilmichael Glassary, Lochgilplhead, Argyll and Bute, Scotland PA3 8QA
  </div>
</footer> -->


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    {% endblock %}
    

    
  </body>
</html>